@font-face{
    font-family: Arial;
}
.docPaper{
    background-color: white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.headerTextProcessor{
    padding: 0 !important;
}
.iconSave{
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 4px;
    margin: 0px;
}
.iconSave:hover{
    color: black;
    background-color: #BDD5F1;
}
select{
    color: black;
    background-color: #BDD5F1;
}
.text-align-center{
    text-align: center;
}
.textProcessorBar{
    margin: 0 !important;
}
.textProcessorBody{
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}
.textProcessorHeaderTitleContainer{
    background-color: #2178DF;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    text-align: center;
    padding: 8px 0 8px 0;
}
.textProcessorHeaderTitleText{
    background-color: transparent;
    padding: 0 !important;
    border: none;
    outline: none;
    color: white;
    text-align: center;
    font-size: 16px;
    width: 90%;
}
.textProcessorHeaderTitleText::placeholder{
    color: white;
    opacity: 0.3;
}